<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>404</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>

<body>


<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-big">
        <div class="ui container">
            <h2>错误</h2>
        </div>
    </div>
</div>

    <!--remove标签，最终会以文本的形式显示出来-->
    <!--在网页中打印出错误信息-->
    <div>
        <div th:utext="'&lt;!--'" th:remove="tag"></div>
        <div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"></div>
        <div th:utext="'Exception message : ' + ${exception.message}" th:remove="tag"></div>
        <ul th:remove="tag">
            <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
        </ul>
        <div th:utext="'--&gt;'" th:remove="tag"></div>
    </div>

<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-huge m-opacity-mini">
    <!--容器-->
    <div class="ui center aligned container">
        <!--底部分割线-->
        <div class="ui section divider"></div>
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <!--这里让其在与顶端再隔开一段，达到横向居中的效果-->
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced
                    m-margin-top-large">联系我</div>
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin">Email: mengyiyouth@163.com</div>
                    <div href="#" class="m-text-thin">QQ: 1197875732</div>
                </div>
            </div>
            <!--显示微信二维码-->
            <div class="four wide column" >
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced">微信</div>
                        <img src="../../static/images/wechat.png" class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <!--最新博客-->
            <!--                <div class="three wide column">-->
            <!--                    <h4 class="ui inverted header m-text-thin m-text-space">最新博客</h4>-->
            <!--                    <div class="ui inverted link list">-->
            <!--                        <a href="#" class="item">用户故事(啦啦啦)</a>-->
            <!--                        <a href="#" class="item">用户故事(啦啦啦)</a>-->
            <!--                        <a href="#" class="item">用户故事(啦啦啦)</a>-->
            <!--                    </div>-->
            <!--                </div>-->

            <div class="eight wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced
                    m-margin-top-large">博客介绍</div>
                <div class="ui inverted link list">
                    <p class="inverted m-text-thin m-text-space">本博客，是为我的一个朋友马户先生所开，旨在讲述马户先生年轻时，风花雪月，快意恩仇，饮马
                        江湖的故事，如有雷同，纯属虚构</p>
                </div>
            </div>
        </div>

        <!--分割线-->
        <div class="ui section divider"></div>
        <p class="m-text-thin m-text-space">我的一个马户朋友</p>
    </div>
</footer>

</body>
</html>
